.signup-wrapper {
  /* background-color: chocolate; */
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.182);
  border-radius: 1px;
}

.logotxt {
  font-size: 40px;
  font-family: "Fontspring-DEMO-blue_vinyl_bold_ps_ot";
}

.logo {
  /* background-color: brown; */
  position: relative;
  top: 60px;
  left: -90px;
  width: 120px;
  height: 120px;
}

.my-form {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
}

input {
  background-color: #fafafa;
  width: 95%;
  height: 30%;
  margin: 5px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.182);
  border-radius: 2px;
}
button {
  background-color: #4cb5f9;
  color: white;
  width: 100%;
  height: 30%;
  margin-top: 10px;
  border: 0px;
  border-radius: 8px;
}

.forgpass {
  color: #2d3342;
  margin-top: 20px;
}

.login {
  color: #4cb5f9;

  margin-top: 20px;
  padding: 20px 0px;
}

.login p {
  color: #4cb5f9;
}

.login::before {
  color: #2d3342;

  font-weight: 300;
  margin-right: 10px;
  content: "Already have an account?";
}
